p.TN,
span.TN {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 1px 0px 0px 9px;
}

p.TD,
span.TD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 0px 3px 0px 17px;
}

p.TC,
span.TC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px;
}

p.CN,
span.CN {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 14px;
	margin: 0px;
}

p.RI,
span.RI {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px 0px 3px 0px;
}

p.PARA,
span.PARA {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 9px;
	margin: 1px 0px 0px 0px;
}

p.PARAS,
span.PARAS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 1px 0px 0px 0px;
}

p.NOME,
span.NOME {
	font-family: "Helvetica LT Std Compressed", sans-serif;
	font-stretch: extra-condensed;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px 0px 3px 0px;
}

p.FILO,
span.FILO {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 0.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 4px 0px 6px 0px;
}

p.CROCE,
span.CROCE {
	font-family: "Helvetica LT Std Light", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1.2;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 5px 0px 5px 0px;
}

p.CV,
span.CV {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.CVD,
span.CVD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.FOTO,
span.FOTO {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1.2;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 20px 0px 20px 0px;
	display: flex;
	justify-content: center;
}

p.GC,
span.GC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.GCA,
span.GCA {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 6px 0px 6px 0px;
}

p.GCE,
span.CGE {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.GCP,
span.GCE {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.GD,
span.GD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.N,
span.N {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px 2px 2px 20px;
}

p.NC,
span.NC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.ND,
span.ND {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.NN,
span.NN {
	font-family: "Helvetica LT Std", sans-serif;
	font-stretch: extra-condensed;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.NRD,
span.NDR {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 20px;
	margin: 2px 2px 2px 20px;
}

p.T,
span.T {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.NS,
span.NS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: underline;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.G,
span.G {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.GS,
span.GS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: underline;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}
span.underline {
	position: relative;
	display: inline-block;
	text-decoration-color: red;
	cursor: pointer;
}

#preview {
	white-space: pre-wrap;
}
