@font-face {
	font-family: "Chronicle Text G1";
	font-weight: bold;
	src: URL("../fonts/ChronicleTextG1-Bold.pfm");
}

@font-face {
	font-family: "Chronicle Text G1";
	font-style: italic;
	font-weight: bold;
	src: URL("../fonts/ChronicleTextG1-BoldItalic.pfm");
}

@font-face {
	font-family: "Chronicle Text G1";
	font-variant: small-caps;
	font-weight: bold;
	src: URL("../fonts/ChronicleTextG1-BoldSC.pfm");
}

@font-face {
	font-family: "Chronicle Text G1";
	font-style: italic;
	src: URL("../fonts/ChronicleTextG1-Italic.pfm");
}

@font-face {
	font-family: "Chronicle Text G1";
	src: URL("../fonts/ChronicleTextG1-Roman.pfm");
}

@font-face {
	font-family: "Chronicle Text G1";
	font-variant: small-caps;
	src: URL("../fonts/ChronicleTextG1-RomanSC.pfm");
}

@font-face {
	font-family: "Chronicle Text G1";
	font-style: normal;
	font-weight: 600;
	src: URL("../fonts/ChronicleTextG1-Semibold.pfm");
}

@font-face {
	font-family: "Chronicle Text G1";
	font-style: italic;
	font-weight: 600;
	src: URL("../fonts/ChronicleTextG1-SemiboldItalic.pfm");
}

@font-face {
	font-family: "Chronicle Text G1";
	font-variant: small-caps;
	font-weight: 600;
	src: URL("../fonts/ChronicleTextG1-SemiboldSC.pfm");
}

@font-face {
	font-family: "Clan Narrow LF";
	font-weight: bold;
	src: URL("../fonts/ClanNarrowLF-Bold.otf");
}

@font-face {
	font-family: "Franklin Gothic Standard Cd";
	font-style: italic;
	src: URL("../fonts/ITC Frankin/ITCFranklinGothicStd-BkCdIt.otf");
}

@font-face {
	font-family: "Franklin Gothic Heavy";
	font-weight: 900;
	src: URL("../fonts/ITC Frankin/ITCFranklinGothicStd-Hvy.otf");
}

@font-face {
	font-family: "Franklin Gothic Medium";
	font-weight: 900;
	src: URL("../fonts/ITC Frankin/ITCFranklinGothicStd-Med.otf");
}

@font-face {
	font-family: "Franklin Gothic Book";
	src: URL("../fonts/ITC Frankin/ITCFranklinGothicStd-Book.otf");
}

@font-face {
	font-family: "Univers";
	font-weight: bold;
	src: URL("../fonts/Univers-CondensedBold.otf");
}

@font-face {
	font-family: "Univers";
	src: URL("../fonts/Univers-Condensed.otf");
}

@font-face {
	font-family: "Univers";
	font-style: italic;
	src: URL("../fonts/Univers-CondensedOblique.otf");
}

@font-face {
	font-family: "Minion Pro";
	src: URL("../fonts/MinionPro-Regular.otf");
}
