.top-left::after,
.top-left.tooltip-text::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent grey transparent;
}

.top-right::after,
.top-right.tooltip-text::after {
	content: "";
	position: absolute;
	bottom: 100%;
	right: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent grey transparent;
}

.bottom-left::after,
.bottom-left.tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: grey transparent transparent transparent;
}

.bottom-right::after,
.bottom-right.tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	right: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: grey transparent transparent transparent;
}

.tooltip-shape,
.tooltip-text {
	background-color: #fff;
	border: 1px solid grey;
	color: #0f151b;
	text-align: left;
	padding: 5px 4px;
	border-radius: 6px;
	z-index: 10000;
	font-size: 0.8rem;
	font-weight: normal;
	font-family: "Muli", sans-serif;
	font-style: normal;
}

/* line 3145, style/options.scss */
.tooltip-text {
	position: absolute;
	width: auto;
	line-height: 1.2;
	letter-spacing: normal;
	white-space: normal;
}

.tooltip-shape {
	z-index: 10000;
	position: absolute;
	width: auto;
}
