.TS-01 {
	p.AD,
	span.AD {
		font-family: "Chronicle Text G1";
		font-size: 10.666666666666666px;
		text-align: left;
	}

	p.AN,
	span.AN {
		font-family: "Clan Narrow LF";
		font-size: 11.333333333333332px;
		text-align: center;
		font-weight: bold;
	}

	p.A0,
	span.A0 {
		font-family: "Chronicle Text G1";
		font-size: 10.666666666666666px;
		text-align: left;
	}

	p.A1,
	span.A1 {
		font-family: "Chronicle Text G1";
		font-size: 10.666666666666666px;
		text-align: left;
	}

	p.CO,
	span.CO {
		font-family: "Chronicle Text G1";
		font-size: 11.333333333333332px;
		text-align: left;
	}

	p.DA,
	span.DA {
		font-family: "Chronicle Text G1";
		font-size: 10.666666666666666px;
		text-align: center;
	}

	p.DF,
	span.DF {
		font-family: "Chronicle Text G1";
		font-size: 11.2px;
		text-align: right;
	}

	p.DI,
	span.DI {
		font-family: "Chronicle Text G1";
		font-size: 11.333333333333332px;
		text-align: right;
		font-style: italic;
	}

	p.ET,
	span.ET {
		font-family: "Chronicle Text G1";
		font-size: 10.666666666666666px;
		text-align: center;
		font-style: italic;
	}

	p.ME,
	span.ME {
		font-family: "Clan Narrow LF";
		font-size: 11.333333333333332px;
		text-align: center;
		font-weight: bold;
	}

	p.PS,
	span.PS {
		font-family: "Chronicle Text G1";
		font-size: 10.666666666666666px;
		text-align: left;
	}

	p.RI,
	span.RI {
		font-family: "Clan Narrow LF";
		font-size: 11.333333333333332px;
		text-align: center;
		font-weight: bold;
	}

	p.T,
	span.T {
		font-family: "Chronicle Text G1";
		font-size: 11.333333333333332px;
		text-align: left;
		text-indent: 6px;
	}

	p.TR,
	span.TR {
		font-family: "Clan Narrow LF";
		font-size: 11.333333333333332px;
		text-align: center;
		font-weight: bold;
	}

	p.T1,
	span.T1 {
		font-family: "Clan Narrow LF";
		font-size: 11.333333333333332px;
		text-align: center;
		font-weight: bold;
	}

	p.T2,
	span.T2 {
		font-family: "Clan Narrow LF";
		font-size: 11.333333333333332px;
		text-align: center;
		font-weight: bold;
	}

	p.T4,
	span.T4 {
		font-family: "Chronicle Text G1";
		font-size: 11.333333333333332px;
		text-align: center;
	}
}
