.TS-15 {
	p.AD,
	span.AD {
		font-family: "Univers";
		font-size: 12px;
		text-align: left;
	}

	p.AN,
	span.AN {
		font-family: "Univers";
		font-size: 13.066666666666666px;
		text-align: center;
		font-weight: bold;
	}

	p.DA,
	span.DA {
		font-family: "Minion Pro";
		font-size: 13.066666666666666px;
		text-align: center;
	}

	p.DI,
	span.DI {
		font-family: "Franklin Gothic Standard Cd";
		font-size: 12.933333333333332px;
		text-align: left;
		font-style: italic;
	}

	p.ET,
	span.ET {
		font-family: "Franklin Gothic Medium";
		font-size: 12.4px;
		text-align: center;
	}

	p.DF,
	span.DF {
		font-family: "Univers";
		font-size: 12.933333333333332px;
		text-align: right;
	}

	p.TO,
	span.TO {
		font-family: "Univers";
		font-size: 11.066666666666666px;
		text-align: right;
		font-style: italic;
	}

	p.T1,
	span.T1 {
		font-family: "Franklin Gothic Heavy";
		font-size: 12.933333333333332px;
		text-align: center;
	}

	p.PS,
	span.PS {
		font-family: "Univers";
		font-size: 12px;
		text-align: left;
	}

	p.PE,
	span.PE {
		font-family: "Univers";
		font-size: 12px;
		text-align: left;
	}

	p.A1,
	span.A1 {
		font-family: "Univers";
		font-size: 12px;
		text-align: left;
	}

	p.RI,
	span.RI {
		font-family: "Univers";
		font-size: 13.066666666666666px;
		text-align: center;
		font-weight: bold;
	}

	p.T2,
	span.T2 {
		font-family: "Franklin Gothic Medium";
		font-size: 12.4px;
		text-align: center;
	}

	p.CO,
	span.CO {
		font-family: "Franklin Gothic Book";
		font-size: 12.533333333333333px;
		text-align: left;
	}

	p.TS,
	span.TS {
		font-family: "Franklin Gothic Book";
		font-size: 12.533333333333333px;
		text-align: center;
	}

	p.T,
	span.T {
		font-family: "Franklin Gothic Book";
		font-size: 12.533333333333333px;
		text-align: left;
	}

	p.T4,
	span.T4 {
		font-family: "Franklin Gothic Book";
		font-size: 12.533333333333333px;
		text-align: center;
	}
}
