.top-left::after,
.top-left.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent grey transparent;
}

.top-right::after,
.top-right.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent grey transparent;
}

.bottom-left::after,
.bottom-left.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}

.bottom-right::after,
.bottom-right.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}

.tooltip-shape,
.tooltip-text {
  background-color: #fff;
  border: 1px solid grey;
  color: #0f151b;
  text-align: left;
  padding: 5px 4px;
  border-radius: 6px;
  z-index: 10000;
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "Muli", sans-serif;
  font-style: normal;
}

/* line 3145, style/options.scss */
.tooltip-text {
  position: absolute;
  width: auto;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: normal;
}

.tooltip-shape {
  z-index: 10000;
  position: absolute;
  width: auto;
}

p.TN,
span.TN {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 1px 0px 0px 9px;
}

p.TD,
span.TD {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: right;
  color: #000000;
  text-indent: 0px;
  margin: 0px 3px 0px 17px;
}

p.TC,
span.TC {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 0px;
}

p.CN,
span.CN {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 14px;
  margin: 0px;
}

p.RI,
span.RI {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 0px 0px 3px 0px;
}

p.PARA,
span.PARA {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 9px;
  margin: 1px 0px 0px 0px;
}

p.PARAS,
span.PARAS {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 1px 0px 0px 0px;
}

p.NOME,
span.NOME {
  font-family: "Helvetica LT Std Compressed", sans-serif;
  font-stretch: extra-condensed;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 0px 0px 3px 0px;
}

p.FILO,
span.FILO {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 4px 0px 6px 0px;
}

p.CROCE,
span.CROCE {
  font-family: "Helvetica LT Std Light", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 5px 0px 5px 0px;
}

p.CV,
span.CV {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 2px;
}

p.CVD,
span.CVD {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: right;
  color: #000000;
  text-indent: 0px;
  margin: 2px;
}

p.FOTO,
span.FOTO {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
}

p.GC,
span.GC {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 3px 0px 3px 0px;
}

p.GCA,
span.GCA {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 6px 0px 6px 0px;
}

p.GCE,
span.CGE {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 3px 0px 3px 0px;
}

p.GCP,
span.GCE {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 3px 0px 3px 0px;
}

p.GD,
span.GD {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: right;
  color: #000000;
  text-indent: 0px;
  margin: 3px 0px 3px 0px;
}

p.N,
span.N {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 2px 2px 2px 20px;
}

p.NC,
span.NC {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-indent: 0px;
  margin: 2px;
}

p.ND,
span.ND {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: right;
  color: #000000;
  text-indent: 0px;
  margin: 2px;
}

p.NN,
span.NN {
  font-family: "Helvetica LT Std", sans-serif;
  font-stretch: extra-condensed;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 2px;
}

p.NRD,
span.NDR {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 20px;
  margin: 2px 2px 2px 20px;
}

p.T,
span.T {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 2px;
}

p.NS,
span.NS {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: underline;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 2px;
}

p.G,
span.G {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 3px 0px 3px 0px;
}

p.GS,
span.GS {
  font-family: "Helvetica LT Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: underline;
  font-variant: normal;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-indent: 0px;
  margin: 3px 0px 3px 0px;
}

span.underline {
  position: relative;
  display: inline-block;
  text-decoration-color: red;
  cursor: pointer;
}

#preview {
  white-space: pre-wrap;
}

@font-face {
  font-family: "Chronicle Text G1";
  font-weight: bold;
  src: URL("../fonts/ChronicleTextG1-Bold.pfm");
}
@font-face {
  font-family: "Chronicle Text G1";
  font-style: italic;
  font-weight: bold;
  src: URL("../fonts/ChronicleTextG1-BoldItalic.pfm");
}
@font-face {
  font-family: "Chronicle Text G1";
  font-variant: small-caps;
  font-weight: bold;
  src: URL("../fonts/ChronicleTextG1-BoldSC.pfm");
}
@font-face {
  font-family: "Chronicle Text G1";
  font-style: italic;
  src: URL("../fonts/ChronicleTextG1-Italic.pfm");
}
@font-face {
  font-family: "Chronicle Text G1";
  src: URL("../fonts/ChronicleTextG1-Roman.pfm");
}
@font-face {
  font-family: "Chronicle Text G1";
  font-variant: small-caps;
  src: URL("../fonts/ChronicleTextG1-RomanSC.pfm");
}
@font-face {
  font-family: "Chronicle Text G1";
  font-style: normal;
  font-weight: 600;
  src: URL("../fonts/ChronicleTextG1-Semibold.pfm");
}
@font-face {
  font-family: "Chronicle Text G1";
  font-style: italic;
  font-weight: 600;
  src: URL("../fonts/ChronicleTextG1-SemiboldItalic.pfm");
}
@font-face {
  font-family: "Chronicle Text G1";
  font-variant: small-caps;
  font-weight: 600;
  src: URL("../fonts/ChronicleTextG1-SemiboldSC.pfm");
}
@font-face {
  font-family: "Clan Narrow LF";
  font-weight: bold;
  src: URL("../fonts/ClanNarrowLF-Bold.otf");
}
@font-face {
  font-family: "Franklin Gothic Standard Cd";
  font-style: italic;
  src: URL("../fonts/ITC Frankin/ITCFranklinGothicStd-BkCdIt.otf");
}
@font-face {
  font-family: "Franklin Gothic Heavy";
  font-weight: 900;
  src: URL("../fonts/ITC Frankin/ITCFranklinGothicStd-Hvy.otf");
}
@font-face {
  font-family: "Franklin Gothic Medium";
  font-weight: 900;
  src: URL("../fonts/ITC Frankin/ITCFranklinGothicStd-Med.otf");
}
@font-face {
  font-family: "Franklin Gothic Book";
  src: URL("../fonts/ITC Frankin/ITCFranklinGothicStd-Book.otf");
}
@font-face {
  font-family: "Univers";
  font-weight: bold;
  src: URL("../fonts/Univers-CondensedBold.otf");
}
@font-face {
  font-family: "Univers";
  src: URL("../fonts/Univers-Condensed.otf");
}
@font-face {
  font-family: "Univers";
  font-style: italic;
  src: URL("../fonts/Univers-CondensedOblique.otf");
}
@font-face {
  font-family: "Minion Pro";
  src: URL("../fonts/MinionPro-Regular.otf");
}
.TS-01 p.AD,
.TS-01 span.AD {
  font-family: "Chronicle Text G1";
  font-size: 10.6666666667px;
  text-align: left;
}
.TS-01 p.AN,
.TS-01 span.AN {
  font-family: "Clan Narrow LF";
  font-size: 11.3333333333px;
  text-align: center;
  font-weight: bold;
}
.TS-01 p.A0,
.TS-01 span.A0 {
  font-family: "Chronicle Text G1";
  font-size: 10.6666666667px;
  text-align: left;
}
.TS-01 p.A1,
.TS-01 span.A1 {
  font-family: "Chronicle Text G1";
  font-size: 10.6666666667px;
  text-align: left;
}
.TS-01 p.CO,
.TS-01 span.CO {
  font-family: "Chronicle Text G1";
  font-size: 11.3333333333px;
  text-align: left;
}
.TS-01 p.DA,
.TS-01 span.DA {
  font-family: "Chronicle Text G1";
  font-size: 10.6666666667px;
  text-align: center;
}
.TS-01 p.DF,
.TS-01 span.DF {
  font-family: "Chronicle Text G1";
  font-size: 11.2px;
  text-align: right;
}
.TS-01 p.DI,
.TS-01 span.DI {
  font-family: "Chronicle Text G1";
  font-size: 11.3333333333px;
  text-align: right;
  font-style: italic;
}
.TS-01 p.ET,
.TS-01 span.ET {
  font-family: "Chronicle Text G1";
  font-size: 10.6666666667px;
  text-align: center;
  font-style: italic;
}
.TS-01 p.ME,
.TS-01 span.ME {
  font-family: "Clan Narrow LF";
  font-size: 11.3333333333px;
  text-align: center;
  font-weight: bold;
}
.TS-01 p.PS,
.TS-01 span.PS {
  font-family: "Chronicle Text G1";
  font-size: 10.6666666667px;
  text-align: left;
}
.TS-01 p.RI,
.TS-01 span.RI {
  font-family: "Clan Narrow LF";
  font-size: 11.3333333333px;
  text-align: center;
  font-weight: bold;
}
.TS-01 p.T,
.TS-01 span.T {
  font-family: "Chronicle Text G1";
  font-size: 11.3333333333px;
  text-align: left;
  text-indent: 6px;
}
.TS-01 p.TR,
.TS-01 span.TR {
  font-family: "Clan Narrow LF";
  font-size: 11.3333333333px;
  text-align: center;
  font-weight: bold;
}
.TS-01 p.T1,
.TS-01 span.T1 {
  font-family: "Clan Narrow LF";
  font-size: 11.3333333333px;
  text-align: center;
  font-weight: bold;
}
.TS-01 p.T2,
.TS-01 span.T2 {
  font-family: "Clan Narrow LF";
  font-size: 11.3333333333px;
  text-align: center;
  font-weight: bold;
}
.TS-01 p.T4,
.TS-01 span.T4 {
  font-family: "Chronicle Text G1";
  font-size: 11.3333333333px;
  text-align: center;
}

.TS-15 p.AD,
.TS-15 span.AD {
  font-family: "Univers";
  font-size: 12px;
  text-align: left;
}
.TS-15 p.AN,
.TS-15 span.AN {
  font-family: "Univers";
  font-size: 13.0666666667px;
  text-align: center;
  font-weight: bold;
}
.TS-15 p.DA,
.TS-15 span.DA {
  font-family: "Minion Pro";
  font-size: 13.0666666667px;
  text-align: center;
}
.TS-15 p.DI,
.TS-15 span.DI {
  font-family: "Franklin Gothic Standard Cd";
  font-size: 12.9333333333px;
  text-align: left;
  font-style: italic;
}
.TS-15 p.ET,
.TS-15 span.ET {
  font-family: "Franklin Gothic Medium";
  font-size: 12.4px;
  text-align: center;
}
.TS-15 p.DF,
.TS-15 span.DF {
  font-family: "Univers";
  font-size: 12.9333333333px;
  text-align: right;
}
.TS-15 p.TO,
.TS-15 span.TO {
  font-family: "Univers";
  font-size: 11.0666666667px;
  text-align: right;
  font-style: italic;
}
.TS-15 p.T1,
.TS-15 span.T1 {
  font-family: "Franklin Gothic Heavy";
  font-size: 12.9333333333px;
  text-align: center;
}
.TS-15 p.PS,
.TS-15 span.PS {
  font-family: "Univers";
  font-size: 12px;
  text-align: left;
}
.TS-15 p.PE,
.TS-15 span.PE {
  font-family: "Univers";
  font-size: 12px;
  text-align: left;
}
.TS-15 p.A1,
.TS-15 span.A1 {
  font-family: "Univers";
  font-size: 12px;
  text-align: left;
}
.TS-15 p.RI,
.TS-15 span.RI {
  font-family: "Univers";
  font-size: 13.0666666667px;
  text-align: center;
  font-weight: bold;
}
.TS-15 p.T2,
.TS-15 span.T2 {
  font-family: "Franklin Gothic Medium";
  font-size: 12.4px;
  text-align: center;
}
.TS-15 p.CO,
.TS-15 span.CO {
  font-family: "Franklin Gothic Book";
  font-size: 12.5333333333px;
  text-align: left;
}
.TS-15 p.TS,
.TS-15 span.TS {
  font-family: "Franklin Gothic Book";
  font-size: 12.5333333333px;
  text-align: center;
}
.TS-15 p.T,
.TS-15 span.T {
  font-family: "Franklin Gothic Book";
  font-size: 12.5333333333px;
  text-align: left;
}
.TS-15 p.T4,
.TS-15 span.T4 {
  font-family: "Franklin Gothic Book";
  font-size: 12.5333333333px;
  text-align: center;
}

/*
    CUSTOM TYPOGRAPHIC SETS
*/

/*# sourceMappingURL=main.css.map */
