tbody,
thead,
tfoot,
tr,
td,
th {
	border-style: inherit;
	border-width: inherit;
	border-color: inherit;
}

td {
	width: 10px;
	height: 5px;
}

.leftFloat {
	float: left;
}

.rightFloat {
	float: right;
}

.centerFloat {
	float: center;
}

p.Basic-Paragraph {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: left;
	color: #000000;
	text-indent: 0px;
	margin: 0px;
}

p.TN {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 1px 0px 0px 9px;
}

span.TN {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 1px 0px 0px 9px;
}

p.TD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 0px 3px 0px 17px;
}

span.TD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 0px 3px 0px 17px;
}

p.TC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px;
}

span.TC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px;
}

p.CN {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 14px;
	margin: 0px;
}

span.CN {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 14px;
	margin: 0px;
}

p.RI {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px 0px 3px 0px;
}

span.RI {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.25em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px 0px 3px 0px;
}

p.PARA {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 9px;
	margin: 1px 0px 0px 0px;
}

span.PARA {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 9px;
	margin: 1px 0px 0px 0px;
}

p.PARAS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 1px 0px 0px 0px;
}

span.PARAS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 1px 0px 0px 0px;
}

p.NOME {
	font-family: "Helvetica LT Std Compressed", sans-serif;
	font-stretch: extra-condensed;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px 0px 3px 0px;
}

span.NOME {
	font-family: "Helvetica LT Std Compressed", sans-serif;
	font-stretch: extra-condensed;
	font-weight: normal;
	font-style: normal;
	font-size: 1.25em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 0px 0px 3px 0px;
}

p.FILO {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 0.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 4px 0px 6px 0px;
}

span.FILO {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 0.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 4px 0px 6px 0px;
}

p.CROCE {
	font-family: "Helvetica LT Std Light", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1.2;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 5px 0px 5px 0px;
}

span.CROCE {
	font-family: "Helvetica LT Std Light", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1.2;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 5px 0px 5px 0px;
}

p.CV {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

span.CV {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.CVD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

span.CVD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.FOTO {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1.2;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 20px 0px 20px 0px;
	display: flex;
	justify-content: center;
}

span.FOTO {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1.2;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 20px 0px 20px 0px;
}

p.GC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

span.GC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.GCA {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 6px 0px 6px 0px;
}

span.GCA {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 6px 0px 6px 0px;
}

p.GCE {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

span.GCE {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.GCP {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

span.GCP {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.GD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

span.GD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.N {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px 2px 2px 20px;
}

span.N {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	margin: 2px 2px 2px 20px;
}

p.NC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

span.NC {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.ND {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

span.ND {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: right;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.NN {
	font-family: "Helvetica LT Std", sans-serif;
	font-stretch: extra-condensed;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

span.NN {
	font-family: "Helvetica LT Std", sans-serif;
	font-stretch: extra-condensed;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.NRD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 20px;
	margin: 2px 2px 2px 20px;
}

span.NRD {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 20px;
	margin: 2px 2px 2px 20px;
}

p.T {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

span.T {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.NS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: underline;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

span.NS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: underline;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 2px;
}

p.G {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

span.G {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

p.GS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: underline;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

span.GS {
	font-family: "Helvetica LT Std", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
	text-decoration: underline;
	font-variant: normal;
	line-height: 1;
	text-align: justify;
	color: #000000;
	text-indent: 0px;
	margin: 3px 0px 3px 0px;
}

div.Basic-Text-Frame {
}

span.underline {
	position: relative;
	display: inline-block;
	text-decoration-color: red;
	cursor: pointer;
}

/* line 3083, style/options.scss */
.top-left::after,
.top-left.tooltip-text::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent grey transparent;
}

/* line 3095, style/options.scss */
.top-right::after,
.top-right.tooltip-text::after {
	content: "";
	position: absolute;
	bottom: 100%;
	right: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent grey transparent;
}

/* line 3107, style/options.scss */
.bottom-left::after,
.bottom-left.tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: grey transparent transparent transparent;
}

/* line 3119, style/options.scss */
.bottom-right::after,
.bottom-right.tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	right: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: grey transparent transparent transparent;
}

/* line 3131, style/options.scss */
.tooltip-shape,
.tooltip-text {
	background-color: #fff;
	border: 1px solid grey;
	color: #0f151b;
	text-align: left;
	padding: 5px 4px;
	border-radius: 6px;
	z-index: 10000;
	font-size: 0.8rem;
	font-weight: normal;
	font-family: "Muli", sans-serif;
	font-style: normal;
}

/* line 3145, style/options.scss */
.tooltip-text {
	position: absolute;
	width: auto;
	line-height: 1.2;
	letter-spacing: normal;
	white-space: normal;
}
