tbody, thead, tfoot, tr, td, th {
    border-style : inherit;
    border-width : inherit;
    border-color : inherit;
}

td {
    width : 10px;
    height : 5px;
}

.leftFloat {
    float : left;
}

.rightFloat {
    float : right;
}

.centerFloat {
    float : center;
}

p.Basic-Paragraph {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 2.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : left;
    color : #000000;
    text-indent : 0px;
    margin : 0px;
}

p.TN {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 1px 0px 0px 9px;
}

span.TN {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 1px 0px 0px 9px;
}

p.TD {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : right;
    color : #000000;
    text-indent : 0px;
    margin : 0px 3px 0px 17px;
}

span.TD {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : right;
    color : #000000;
    text-indent : 0px;
    margin : 0px 3px 0px 17px;
}

p.TC {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 0px;
}

span.TC {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 0px;
}

p.CN {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 14px;
    margin : 0px;
}

span.CN {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 14px;
    margin : 0px;
}

p.RI {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 0px 0px 3px 0px;
}

span.RI {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.25em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 0px 0px 3px 0px;
}

p.PARA {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 9px;
    margin : 1px 0px 0px 0px;
}

span.PARA {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 9px;
    margin : 1px 0px 0px 0px;
}

p.PARAS {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 1px 0px 0px 0px;
}

span.PARAS {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 1px 0px 0px 0px;
}

p.NOME {
    font-family : "Helvetica LT Std Compressed", sans-serif;
    font-stretch : extra-condensed;
    font-weight : normal;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 0px 0px 3px 0px;
}

span.NOME {
    font-family : "Helvetica LT Std Compressed", sans-serif;
    font-stretch : extra-condensed;
    font-weight : normal;
    font-style : normal;
    font-size : 1.25em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 0px 0px 3px 0px;
}

p.FILO {
    font-family : Arial, sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 0.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 4px 0px 6px 0px;
}

span.FILO {
    font-family : Arial, sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 0.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 4px 0px 6px 0px;
}

p.CROCE {
    font-family : "Helvetica LT Std Light", sans-serif;
    font-weight : 300;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1.2;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 5px 0px 5px 0px;
}

span.CROCE {
    font-family : "Helvetica LT Std Light", sans-serif;
    font-weight : 300;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1.2;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 5px 0px 5px 0px;
}

p.CV {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : italic;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

span.CV {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : italic;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

p.CVD {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : italic;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : right;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

span.CVD {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : italic;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : right;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

p.FOTO {
    font-family : Arial, sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1.2;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 20px 0px 20px 0px;
}

span.FOTO {
    font-family : Arial, sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1.2;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 20px 0px 20px 0px;
}

p.GC {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : italic;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

span.GC {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : italic;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

p.GCA {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 6px 0px 6px 0px;
}

span.GCA {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 6px 0px 6px 0px;
}

p.GCE {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

span.GCE {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

p.GCP {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

span.GCP {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

p.GD {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : right;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

span.GD {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : right;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

p.N {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px 2px 2px 20px;
}

span.N {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00fem;
    text-decoration : none;
    font-variant : normal;
    margin : 2px 2px 2px 20px;
}

p.NC {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

span.NC {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : center;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

p.ND {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : right;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

span.ND {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : right;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

p.NN {
    font-family : "Helvetica LT Std", sans-serif;
    font-stretch : extra-condensed;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

span.NN {
    font-family : "Helvetica LT Std", sans-serif;
    font-stretch : extra-condensed;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

p.NRD {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 20px;
    margin : 2px 2px 2px 20px;
}

span.NRD {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 1.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 20px;
    margin : 2px 2px 2px 20px;
}

p.T {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 2.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

span.T {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

p.NS {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 2.50em;
    text-decoration : underline;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

span.NS {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : underline;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 2px;
}

p.G {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 2.50em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

span.G {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : none;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

p.GS {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 2.50em;
    text-decoration : underline;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

span.GS {
    font-family : "Helvetica LT Std", sans-serif;
    font-weight : bold;
    font-style : normal;
    font-size : 2.00em;
    text-decoration : underline;
    font-variant : normal;
    line-height : 1;
    text-align : justify;
    color : #000000;
    text-indent : 0px;
    margin : 3px 0px 3px 0px;
}

div.Basic-Text-Frame {
}
